<!-- 부트스트랩은 반드시 JS가 있어야만 실행되므로 JS가 먼저 위치해야 한다.
     그리고 JS가 HTML보다 앞에 있으면 로딩 속도가 느려지므로 footer로 뺐다 -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/app/index.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>